<div class="toolbar-container" fxLayout="row" fxLayoutAlign="start">
    <mat-toolbar>
        <div class="toolbar-left-part" fxLayout="row" fxFlex="0 0 0.5 auto" fxLayoutAlign="start center">
            <div fxLayout="row" fxLayoutAlign="space-around center">
                <button mat-icon-button (click)="navigateDashboard()">
                    <img src="../../../assets/education.png" />
                </button>
                <h3>
                    Bookstore
                </h3>
            </div>
            <mat-form-field appearance="outline" fxLayout="row" fxLayoutAlign="left center">
                <mat-icon matPrefix>search</mat-icon>
                <input matInput type="text" placeholder="Search ..." (keyup)="notifyDashBoard($event)">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div mat-car-avatar class="profile-pic">
                <!-- <img mat-card-image src="https://res.cloudinary.com/bhu087/image/upload/v1621412984/ocgt4xpa6zqcgeivfr0j.jpg" /> -->
                <button mat-button [matMenuTriggerFor]="menu">
                    <div class="cart-icon" fxLayout="column" fxLayoutAlign="center center">
                        <mat-icon>perm_identity</mat-icon>
                        <mat-label>{{userName}}</mat-label>
                    </div>
                </button>
                <div>
                <mat-menu #menu="matMenu" fxLayout="column" fxLayoutAlign="center center">
                    <h3>Hello, {{userName}}</h3>
                    <button mat-menu-item (click)="onMyWishlist()"><mat-icon>favorite_border</mat-icon>My Wishlist</button>
                    <button mat-raised-button *ngIf="loginStatus" (click)="onLogout()">Logout</button>
                    <button mat-raised-button *ngIf="!loginStatus" (click)="onLogin()" class="login-signup-button">Login/Signup</button>
                </mat-menu>
            </div>
            </div>
            <div>
                <!-- <div>
                    <button mat-flat-button routerLink="signup" (click)="changeColorTwo()" class="signup-button" routerLinkActive="active">SIGNUP</button>
                </div> -->
                <button mat-button (click)="onCart()">
                    <div class="cart-icon" fxLayout="column" fxLayoutAlign="center center">
                        <mat-icon [matBadge]="cartCount">shopping_cart</mat-icon>
                        <mat-label>Cart</mat-label>
                    </div>
                </button>
            </div>
        </div>
    </mat-toolbar>
</div>