<div class="container" fxLayout="row" fxLayoutAlign="center center" [ngStyle]="{'background-color': bgColor}">
    <div  class="login-image-container" fxLayout="row" fxLayoutAlign="center center" >
        <div class="login-image-matcard">
            <mat-card>
                <img class="login-image" mat-card-avatar src="./../../assets/login_SignUp.png"/>
                <mat-card-content class="online-letter"><h3><b fxLayout="row" fxLayoutAlign="center center">ONLINE BOOK SHOPPING</b></h3></mat-card-content>
            </mat-card>
        </div>
        <div class="login-signup-form">
            <mat-card>
                <div class="button-selection" fxLayout="row" fxLayoutAlign="space-between start">
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <button mat-flat-button [ngStyle]="{'color': loginButton}" (click)="changeColorOne()" class="login-button">LOGIN</button>
                        <!-- <mat-divider></mat-divider> -->
                        <button *ngIf="loginBottomLine" mat-raised-button class="login-botton-line" disabled></button>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <button mat-flat-button [ngStyle]="{'color': signupButton}" (click)="changeColorTwo()" class="signup-button">SIGNUP</button>
                        <!-- <mat-divider></mat-divider> -->
                        <button *ngIf="signupBottomLine" mat-raised-button class="signup-button-line" disabled></button>
                    </div>
                </div>
                <div>
                    <!-- <app-login *ngIf="login"></app-login>
                    <app-signup *ngIf="signup"></app-signup> -->
                    <router-outlet></router-outlet>
                </div>
            </mat-card>
        </div>
    </div>
</div>