<div class="all-books-container">
    <div class="sort-selection-container" fxLayout="row" fxLayoutAlign="space-between center">
        <h4>Books( {{totalItems}} items)</h4>
        <mat-form-field appearance="outline">
            <mat-select placeholder="Sort By Relevence" (selectionChange)="onSort($event.value)">
                <mat-option value="Default">Default</mat-option>
                <mat-option value="HighToLow">High to Low</mat-option>
                <mat-option value="LowToHigh">Low to High</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="grid-display">
        <mat-grid-list [cols]="col" rowHeight="340px" (window:resize)="onResize($event)" [gutterSize]="'10px'">
            <mat-grid-tile *ngFor="let book of data | bookFilter: searchTerm | paginate: { itemsPerPage: 12, currentPage: p} ">
                <div class="display-mat-card-container">
                    <mat-card>
                        <div fxLayout="row" fxLayoutAlign="center center" class="book-image" [style.background-color]="book.quantity > 0 ? '#F5F5F5': '#c4c4c4'">
                            <div>
                                <div class="book-img" id="image-container">
                                    <img mat-card-image src="../../../assets/Image 11.png" >
                                </div>
                                <div class="out-of-stock" *ngIf="book.quantity == 0">OUT OF STOCK</div>
                            </div>
                        </div>
                        <div class="book-details">
                            <mat-card-content fxLayout="column" fxLayoutAlign="left">
                                <h3><b>{{book.bookName}}</b></h3>
                                <h5>{{book.author}}</h5>
                                <h3><b>Rs. {{book.price}}</b></h3>
                            </mat-card-content>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between end" class="books-button">
                            <button mat-raised-button *ngIf="!book.clicked && !book.wish && book.quantity != 0"
                                (click)="onAddToCart(book); notifyDashboard($event);" class="add-bag-button">ADD TO
                                BAG</button>
                            <button mat-stroked-button *ngIf="!book.clicked && !book.wish && book.quantity != 0"
                                class="wihlist-button" (click)="addtoWishList(book)"
                                [disabled]="book.wish">WISHLIST</button>
                            <button mat-stroked-button *ngIf="!book.clicked && book.wish" class="wihlisted-button"
                                disabled>WISHLISTED</button>
                            <button mat-stroked-button *ngIf="book.clicked" [disabled]="book.clicked"
                                class="added-button">ADDED TO BAG</button>
                            <button mat-stroked-button *ngIf="!book.clicked && !book.wish && book.quantity == 0"
                                class="long-wish-button" (click)="addtoWishList(book)">WISHLIST</button>
                        </div>
                    </mat-card>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
<div class="book-description" id="description" *ngIf="description">
    <h2>Book Details</h2>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{bookDes}}</p>
</div>
<pagination-controls fxLayout="row" fxLayoutAlign="center end" previousLabel="" nextLabel="" class="my-pagination"
    (pageChange)="p = $event">
</pagination-controls>