<app-tool-bar></app-tool-bar>
<div fxLayout="column" fxLayoutAlign="center center" class="order-placed-container">
    <div>
        <img src="../../../assets/orderPlaced.png" />
    </div>
    <div>
        <h3 fxLayout="column" fxLayoutAlign="center center">
            <p>hurray!!! your order is confirmed</p>
            <p>the order id is {{orderID}} save the order id for</p>
            <p>further communication..</p>
        </h3>
    </div>
    <div>
        <table>
            <tr>
                <th>Email Us.</th>
                <th>Contact Us.</th>
                <th>Address</th>
            </tr>
            <tr>
                <td>sarthaksahoo434@gmail.com</td>
                <td>+91 8917219415</td>
                <td>plot no-123,Bhubaneswar,odisha</td>
            </tr>
        </table>
    </div>
    <div class="continue-shopping-button">
        <button mat-raised-button color="primary" (click)="continueShopping()">CONTINUE SHOPPING</button>
    </div>
</div>
<div>
    <app-footer></app-footer>
</div>
