
//// for matInput
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white !important;
    color: white;
    border-radius: 5px 5px 5px 5px !important;
}

@media (max-width: 600px) {
    
}